mj-wrapper(padding="0 25px" background-color="#ffffff")
    mj-section(padding="0")
        mj-column 
            mj-text(mj-class="T24-700 cB0") 6 conseils pour un Bac en béton
            mj-text(mj-class="T16-700 cT1") Le grand jour approche à grands pas, mais pas de panique, la clé de la réussite repose avant tout sur une bonne préparation. Voici nos astuces pour aborder cette étape avec confiance et sérénité.
    mj-section(padding="0")
        mj-group(width="100%")   
            mj-column(width="20%" padding="10px")
                mj-image(align="right" padding="0" width="70px" src="https://i.ibb.co/v4KNqtN4/number1.png")/
            mj-column(width="80%" padding="10px")
                mj-text(padding="0" mj-class="T18-700 cB0") Organise ton planning de révision&nbsp;:
                mj-text(padding="0" mj-class="T16-400 cT0") Fais un calendrier clair, répartis tes matières, et n'oublie pas de prévoir des pauses pour rester efficace et motivé(e).
                mj-spacer(height="20px")
        mj-group(width="100%")
            mj-column(width="20%" padding="10px")  
                mj-image(align="right" padding="0" width="70px" src="https://i.ibb.co/Xx1TSHH5/number2.png")/
            mj-column(width="80%" padding="10px")
                mj-text(padding="0" mj-class="T18-700 cB0") Concentre-toi sur l'essentiel&nbsp;:
                mj-text(padding="0" mj-class="T16-400 cT0") Identifie les sujets récurrents, les points faibles, et travaille-les en priorité. Utilise tes annales pour t'entraîner dans des conditions proches de l'examen.
                mj-spacer(height="20px")
        mj-group(width="100%")
            mj-column(width="20%" padding="10px")
                mj-image(align="right" padding="0" width="70px" src="https://i.ibb.co/CfFypTG/number3.png" alt="numéro 3") 
            mj-column(width="80%" padding="10px")
                mj-text(padding="0" mj-class="T18-700 cB0") Adopte des méthodes de révision dynamiques&nbsp;:
                mj-text(padding="0" mj-class="T16-400 cT0") Flashcards, mind maps, vidéos explicatives… Varie les techniques pour ne pas t'ennuyer et mieux mémoriser.
                mj-spacer(height="20px")
        mj-group(width="100%")
            mj-column(width="20%" padding="10px")
                mj-image(align="right" padding="0" width="70px" src="https://i.ibb.co/Txmms2J6/number4.png")/
            mj-column(width="80%" padding="10px")
                mj-text(padding="0" mj-class="T18-700 cB0") Entraîne-toi aux épreuves&nbsp;:
                mj-text(padding="0" mj-class="T16-400 cT0") Simule des examens, chrono, dans les conditions réelles. Ça te permettra de gérer ton temps et de gagner en confiance.
                mj-spacer(height="20px")
        mj-group(width="100%")
            mj-column(width="20%" padding="10px")
                mj-image(align="right" padding="0" width="70px" src="https://i.ibb.co/mrrNgzHS/number5.png")/
            mj-column(width="80%" padding="10px")
                mj-text(padding="0" mj-class="T18-700 cB0") Prends soin de toi&nbsp;:
                mj-text(padding="0px" mj-class="T16-400 cT0") Une bonne alimentation, du sommeil, et un peu d'exercice physique, c'est la clé pour rester concentré(e) et motivé(e).
                mj-spacer(height="20px")
        mj-group(width="100%")
            mj-column(width="20%" padding="10px")
                mj-image(align="right" padding="0" width="70px" src="https://i.ibb.co/LdPDcrC3/number6.png")/
            mj-column(width="80%" padding="10px")
                mj-text(padding="0" mj-class="T18-700 cB0") Reste positif(ve) et motivé(e)&nbsp;:
                mj-text(padding="0" mj-class="T16-400 cT0") Visualise ton succès, respire profondément, et rappelle-toi que tu es capable de réussir. La confiance en toi, c'est la moitié du chemin&nbsp;!
                mj-spacer(height="45px")