mj-section
    mj-column(width="30%")
        mj-image()
    mj-column(width="70%")
        mj-text(mj-class="T16-400 cT1") Astuces bonus
        mj-text(mj-class="T16-400 cT0") Rejoins des groupes d'études pour échanger et t'entraîner ensemble. N'hésite pas à demander de l'aide à tes profs ou à tes proches si tu bloques. Utilise les ressources en ligne pour compléter ta préparation.