mj-wrapper(padding="25px")
    mj-section(background-color="#ffffff" border-radius="20px" padding="20px 10px")
        mj-column(width="30%")
            mj-image(src="https://i.ibb.co/HjBF2VJ/ampoule.png")
        mj-column(width="70%")
            mj-text(padding="0" mj-class="T16-700 cT1") Astuces bonus
            mj-text(padding="0" mj-class="T16-400 cT0") Rejoins des groupes d'études pour échanger et t'entraîner ensemble.
            mj-text(padding="0" mj-class="T16-400 cT0") N'hésite pas à demander de l'aide à tes profs ou à tes proches si tu rencontres une difficulté. 
            mj-text(padding="0" mj-class="T16-400 cT0") Utilise les ressources en ligne pour compléter ta préparation.
    mj-section(padding="0px")
        mj-column
            mj-spacer(height="30px")
    mj-section(background-color="#ffffff" border-radius="20px" padding="20px 10px")
        mj-column
            mj-text(mj-class="T16-700 cT1") Citation inspirante
            mj-text(padding="0 25px" align="center" mj-class="T16-400 cT0") Cela semble toujours impossible jusqu'à ce que ce soit fait
            mj-text(padding="0 25px" align="right" mj-class="T13-400 cT0") Nelson Mandela
    mj-section(padding="0px")
        mj-column
            mj-spacer(height="30px")
    mj-section(background-color="#ffffff" padding="0" border-radius="20px")
        mj-column(width="30%" vertical-align="middle")
            mj-image(src="https://i.ibb.co/1Y1v70Hj/Camille25052024.png")
        mj-column(width="70%" vertical-align="middle")
            mj-text(mj-class="T16-400 cT0") Croyez en vous, restez curieux, et n'oubliez pas&nbsp;: le bac n'est qu'une étape, à vous d'imaginer la suite. Avec tout mon soutien, Camille.